body {
  background-color: #F6F6F6;
  color: #1F1F1F;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
@media screen and (min-width: 786px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section--no-bottom-padding {
  padding-bottom: 0;
}

.section--tan {
  background-color: #EBEAE4;
}

.section--grey {
  background-color: #F6F6F6;
}

.section--black {
  background-color: #1E1E1C;
}

.section-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  z-index: 10;
}

.section__title--black {
  color: #1F1F1F;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 786px) {
  .section__title--black {
    font-size: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--black {
    font-size: 85px;
  }
}
.section__title--black-number {
  color: #1F1F1F;
  font-size: 37px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (min-width: 786px) {
  .section__title--black-number {
    font-size: 56px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--black-number {
    font-size: 105px;
    margin-right: 30px;
  }
}

.section__title--white {
  color: #F6F6F6;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 786px) {
  .section__title--white {
    font-size: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--white {
    font-size: 85px;
  }
}
.section__title--white-number {
  color: #F6F6F6;
  font-size: 37px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (min-width: 786px) {
  .section__title--white-number {
    font-size: 56px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--white-number {
    font-size: 105px;
    margin-right: 30px;
  }
}

.container {
  padding-left: 23px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 480px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 786px) {
  .container {
    width: 786px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  width: 166px;
  color: #1F1F1F;
  padding: 0px 10px;
  border: 1px solid #1F1F1F;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: normal;
  cursor: default;
}
@media screen and (min-width: 786px) {
  .logo {
    width: 193px;
    font-size: 30px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #F6F6F6;
  background-color: #1F1F1F;
  padding: 15px 23px;
  border: 3px solid #1F1F1F;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.button__icon {
  margin-right: 7px;
  fill: currentColor;
  stroke: currentColor;
}
.button:hover, .button:focus {
  background-color: transparent;
  color: #1F1F1F;
}
.button--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 18px;
  color: #1F1F1F;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.button--header:hover, .button--header:focus {
  text-decoration-color: #1F1F1F;
}

.header {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
@media screen and (min-width: 786px) {
  .header {
    top: 25px;
  }
}

@media screen and (min-width: 786px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__controls {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .header__controls {
    margin-right: -50px;
  }
}

.header-navigation {
  margin-right: 20px;
}
@media screen and (min-width: 1440px) {
  .header-navigation {
    margin-right: 30px;
  }
}

.header-navigation__list,
.header-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation__item:not(:last-child) {
  margin-right: 20px;
}

.header-navigation__icon {
  margin-right: 5px;
}

.header-navigation__link {
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover, .header-navigation__link:focus {
  text-decoration-color: #1F1F1F;
}
@media screen and (min-width: 1440px) {
  .header-navigation__link {
    font-size: 18px;
  }
}

.hero {
  padding-top: 120px;
  padding-bottom: 0;
  overflow: hidden;
}
@media screen and (min-width: 786px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 180px;
  }
}

.hero__image-wrapper--mob {
  margin-top: 20px;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
@media screen and (min-width: 786px) {
  .hero__image-wrapper--mob {
    display: none;
  }
}

.hero__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 786px) {
  .hero__image-wrapper--tab {
    display: block;
    position: absolute;
    top: -175px;
    left: 50%;
    width: 50vw;
    height: 893px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image-wrapper--tab {
    display: none;
  }
}

.hero__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1280px) {
  .hero__image-wrapper--desk {
    display: block;
    position: absolute;
    top: -120px;
    left: 50%;
    width: 50vw;
    height: 892px;
    overflow: hidden;
    z-index: 1;
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.01;
}

.hero__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  z-index: 10;
}
@media screen and (min-width: 786px) {
  .hero__title {
    font-size: 45px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 80px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
@media screen and (min-width: 786px) {
  .hero__text {
    font-size: 18px;
    width: 330px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 20px;
    width: 590px;
  }
}
.hero__text--highlight {
  font-weight: 700;
}

@media screen and (min-width: 786px) {
  .who-am-i-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 786px) {
  .who-am-i__text-wrapper {
    width: 338px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .who-am-i__text-wrapper {
    width: 575px;
  }
}

.who-am-i__image-wrapper--mob {
  position: relative;
  width: 100%;
  height: 429px;
  overflow: hidden;
  background-color: #C6C5C1;
}
@media screen and (min-width: 786px) {
  .who-am-i__image-wrapper--mob {
    display: none;
  }
}

.who-am-i__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 786px) {
  .who-am-i__image-wrapper--tab {
    position: relative;
    display: block;
    width: 338px;
    height: 558px;
    overflow: hidden;
    background-color: #C6C5C1;
  }
}
@media screen and (min-width: 1280px) {
  .who-am-i__image-wrapper--tab {
    display: none;
  }
}

.who-am-i__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1280px) {
  .who-am-i__image-wrapper--desk {
    position: relative;
    display: block;
    width: 575px;
    height: 660px;
    overflow: hidden;
    background-color: #C6C5C1;
  }
}

.who-am-i__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.01;
}
.who-am-i__image--mob {
  width: 370px;
  height: 350px;
}
.who-am-i__image--tab {
  width: 308px;
  height: 426px;
}
.who-am-i__image--desk {
  width: 620px;
  height: 545px;
}

.who-am-i__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.who-am-i {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 786px) {
  .who-am-i {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .who-am-i {
    margin-top: 35px;
    margin-bottom: 0;
  }
}

.who-am-i__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5px;
}
.who-am-i__item:not(:first-child) {
  padding-top: 7.5px;
}
@media screen and (min-width: 786px) {
  .who-am-i__item {
    padding-bottom: 10px;
  }
  .who-am-i__item:not(:first-child) {
    padding-top: 10px;
  }
}

.who-am-i__bullet {
  margin-right: 20px;
}

.who-am-i__description {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 786px) {
  .who-am-i__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .who-am-i__description {
    font-size: 20px;
  }
}

.who-am-i__text {
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 786px) {
  .who-am-i__text {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .who-am-i__text {
    font-size: 25px;
  }
}
.who-am-i__text--highlight {
  font-weight: 700;
}

.purchase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}
@media screen and (min-width: 786px) {
  .purchase-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 563px;
  }
}
@media screen and (min-width: 1280px) {
  .purchase-container {
    height: 640px;
  }
}

.purchase__image-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
@media screen and (min-width: 786px) {
  .purchase__image-wrapper {
    display: none;
  }
}

.purchase__image-wrapper--mob {
  width: 330px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.purchase__image-wrapper--mob img {
  width: 100%;
  height: 100%;
}

.container--gallery .slick-prev,
.container--gallery .slick-next {
  position: absolute;
  top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
  font-size: 0;
  border: 2px solid #1F1F1F;
  background-color: #1F1F1F;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: #F6F6F6;
  z-index: 300;
}

.container--gallery .slick-prev {
  right: 120px;
  cursor: pointer;
}
.container--gallery .slick-prev:hover {
  background-color: transparent;
  color: #1F1F1F;
}

.container--gallery .slick-next {
  right: 40px;
  cursor: pointer;
}
.container--gallery .slick-next:hover {
  background-color: transparent;
  color: #1F1F1F;
}

.container--gallery .slick-prev:before {
  content: "<";
  margin-right: 3px;
  margin-bottom: 1px;
  color: inherit;
  font-size: 30px;
}

.container--gallery .slick-next:before {
  content: ">";
  margin-left: 1px;
  margin-bottom: 1px;
  color: inherit;
  font-size: 30px;
}

@media screen and (min-width: 1280px) {
  .gallery-mobile__wrapper {
    display: none;
  }
}

.gallery-mob__image {
  width: 315px;
  margin-right: 15px;
}
@media screen and (min-width: 786px) {
  .gallery-mob__image {
    width: 508px;
    margin-right: 25px;
  }
}

/* Limits */
.slick-list {
  margin-bottom: 2px;
}

/* Slides */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Dots */
ul.slick-dots {
  margin: 0;
  padding: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0;
}

/* Dot element */
.purchase-container .slick-dots li button {
  position: relative;
  font-size: 0;
  width: 82.5px;
  height: 4px;
  border: none;
  background-color: rgba(31, 31, 31, 0.3);
  cursor: pointer;
}
@media screen and (min-width: 786px) {
  .purchase-container .slick-dots li button {
    width: 81px;
  }
}
.purchase-container .slick-dots li button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 25px;
  height: 30px;
}

.purchase-container .slick-dots li.slick-active button {
  font-size: 0;
  width: 82.5px;
  height: 4px;
  border: none;
  background-color: #1F1F1F;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 786px) {
  .purchase-container .slick-dots li.slick-active button {
    width: 79px;
  }
}

.slick-dots li button::after {
  width: 0;
  height: 0;
}

.purchase__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 786px) {
  .purchase__image-wrapper--tab {
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
    width: 338px;
    height: 563px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .purchase__image-wrapper--tab {
    display: none;
  }
}

.purchase__image-tab-1 {
  position: absolute;
  right: 71px;
  width: 185px;
  height: 245px;
  z-index: 3;
}

.purchase__image-tab-2 {
  position: absolute;
  top: 230px;
  right: 0;
  width: 158px;
  height: 155px;
  z-index: 4;
}

.purchase__image-tab-3 {
  position: absolute;
  right: 60px;
  bottom: 0;
  width: 166px;
  height: 241px;
  z-index: 1;
}

.purchase__image-tab-4 {
  position: absolute;
  top: 205px;
  left: 0;
  width: 148px;
  height: 214px;
  z-index: 2;
}

.purchase__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1280px) {
  .purchase__image-wrapper--desk {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    width: 575px;
    height: 640px;
  }
}

.purchase__image-desk-1 {
  position: absolute;
  right: 193px;
  width: 243px;
  height: 296px;
  z-index: 3;
}

.purchase__image-desk-2 {
  position: absolute;
  top: 250px;
  right: 0;
  width: 310px;
  height: 220px;
  z-index: 4;
}

.purchase__image-desk-3 {
  position: absolute;
  right: 193px;
  bottom: 0;
  width: 234px;
  height: 282px;
  z-index: 1;
}

.purchase__image-desk-4 {
  position: absolute;
  top: 214px;
  left: -60px;
  width: 254px;
  height: 305px;
  z-index: 2;
}

@media screen and (min-width: 786px) {
  .purchase__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.purchase__subheading {
  margin-top: 10px;
  color: #1F1F1F;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 786px) {
  .purchase__subheading {
    font-size: 20px;
    width: 486px;
  }
}
@media screen and (min-width: 1280px) {
  .purchase__subheading {
    margin-top: 20px;
    font-size: 25px;
    width: 600px;
  }
}
.purchase__subheading--highlight {
  font-weight: 700;
}

.purchase__description-wrapper {
  margin-top: 40px;
}
@media screen and (min-width: 786px) {
  .purchase__description-wrapper {
    margin-top: 0;
  }
}

.purchase__text {
  margin-bottom: 20px;
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 786px) {
  .purchase__text {
    font-size: 18px;
    width: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .purchase__text {
    margin-top: 30px;
    font-size: 20px;
    width: 575px;
  }
}
.purchase__text--highlight {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */