.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: $white-color;
  background-color: $black-color;
  padding: 15px 26px;
  border: $main-border;
  cursor: pointer;
  transition: $main-transition;

  &__icon{
    fill: currentColor;
  }

  &:hover,
  &:focus{
    background-color: transparent;
    color: $black-color;
  }
}