.logo {
  width: 166px;
  color: $accent-color;
  padding: 0px 10px;
  border: 1px solid $accent-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: normal;
  cursor: default;

  @media screen and (min-width: $tablet) {
    width: 193px;
    font-size: 30px;
  }
}
