.section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section--tan{
  background-color: #EBEAE4;
}

.section--grey{
  background-color: #F6F6F6;
}

.section--black {
  background-color: #1E1E1C;
}

.section-title__wrapper {
  display: flex;
  align-items: baseline;
  position: relative;
  z-index: 10;
}

.section__title--black {
  color: $black-color;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 85px;
  }

  &-number{
    color: $black-color;
    font-size: 37px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 10px;

    @media screen and (min-width: $tablet) {
      font-size: 56px;
      margin-right: 20px;
    }
  
    @media screen and (min-width: $desktop) {
      font-size: 105px;
      margin-right: 30px;
    }
  }
}

.section__title--white {
  color: $white-color;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 85px;
  }

  &-number {
    color: $white-color;
    font-size: 37px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 10px;

    @media screen and (min-width: $tablet) {
      font-size: 56px;
      margin-right: 20px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 105px;
      margin-right: 30px;
    }
  }
}