.numbers-container {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.numbers__text-wrapper {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.numbers {
    // margin-top: 40px;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: -100px;
    }
}

.numbers__item {
    margin-top: 40px;
    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 2 - 100px);
        margin-left: 100px;
    }
}

.numbers__title {
    font-size: 45px;
    color: $white-color;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;

    @media screen and (min-width: $desktop) {
        font-size: 85px;
    }
}

.numbers__description {
    font-size: 16px;
    color: $white-color;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }
}