.who-am-i-container{
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.who-am-i__text-wrapper{
    @media screen and (min-width: $tablet) {
        width: 338px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
        width: 575px;
    }
}

.section-title__wrapper--who-am-i{
    @media screen and (min-width: $tablet) {
        margin-top: -20px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: -38px;
    }
}

.who-am-i__image-wrapper--mob {
    position: relative;
    width: 100%;
    height: 429px;
    overflow: hidden;
    background-color: #C6C5C1;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.who-am-i__image-wrapper--tab {
    display: none;

    @media screen and (min-width: $tablet) {
        position: relative;
        display: block;
        width: 338px;
        height: 558px;
        overflow: hidden;
        background-color: #C6C5C1;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.who-am-i__image-wrapper--desk {
    display: none;

    @media screen and (min-width: $desktop) {
        position: relative;
        display: block;
        width: 621px;
        height: 660px;
        overflow: hidden;
        background-color: #C6C5C1;
    }
}

.who-am-i__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    scale: 1.01;

    &--mob{
        width: 370px;
        height: 350px;
    }

    &--tab {
        width: 308px;
        height: 426px;
    }

    &--desk {
        width: 620px;
        height: 545px;
    }
}

.who-am-i__icon{
    position: absolute;
    top: 20px;
    right: 20px;
}

.who-am-i{
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        margin-top: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 35px;
        margin-bottom: 0;
    }
}

.who-am-i__item{
    display: flex;
    align-items: center;
    padding-bottom: 7.5px;

    &:not(:first-child){
        padding-top: 7.5px;
    }

    @media screen and (min-width: $tablet) {
        padding-bottom: 10px;
        
        &:not(:first-child) {
            padding-top: 10px;
        }
    }
}

.who-am-i__bullet{
    margin-right: 20px;
}

.who-am-i__description{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: fit-content;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }
}

.who-am-i__text{
    color: $black-color;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 25px;
    }

    &--highlight{
        font-weight: 700;
    }
}